h2.titulo {
    margin-left: 1em;
    margin-top: 1em;
    position: relative;
    font-size: 4em;
    font-weight: 900;
    color: #fff;
    z-index: 1;
}


h2 span {
    color: aqua;
}

.slogan_link {
    text-decoration: none;
    color: aqua;
    font-size: 43px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Poppins';
    text-shadow: 4px 4px 12px rgb(133, 127, 127);
}

.hipertexto {
    transition: .5s;
}
i.hipertexto:hover {
    letter-spacing: .1em;
    transform: scale(1, 1.2);
    cursor: pointer;

}

span a p {
    font-weight: bold; font-size: 120px; font-style: italic;
    transition: 1s;
}

span a p:hover {
    text-decoration: underline;
    letter-spacing: .1em;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: screen;
}

@keyframes animation {
    0%,10%,100%
    {
      width: 0;
    }

    70%,90%
    {
     width: 100%;
    }
}